@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Victor Fernandez Carrillo<br />
    Las Torres de Cotillas<br />
    Murcia España
    <!--<abbr title="Phone">P:</abbr>-->
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:victor.feca@yahoo.es">victor.feca@yahoo.es</a><br />
    <!--<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>-->
</address>